<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\styleSearch.css">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <div class="first">
            <h1>CEP NÃO ENCONTRADO!</h1>
        </div>
        <div class="second">
            <p>Não conseguimos encontrar seu cep...</p><br>
            <img src="https://media0.giphy.com/media/W9RkgivC0XQ56nulXx/giphy.gif" alt="">
        </div>
    </div>
</body>
</html>